@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@500;600;700&display=swap');

:root {
  --background: #fffffe;
  --headline: #272343;
  --paragraph: #2d334a;
  --button: #bae8e8;
  --buttontext: #272343;
  --secondary: #bae8e8;
  --tertiary: #e3f6f5;
}

*,
*:before,
*:after {
  box-sizing: border-box;
  font-family: 'Nunito Sans', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
a {
  color: var(--headline);
}

p {
  color: var(--paragraph);
}

body {
  background-color: var(--background);
  margin: 0 auto;
  max-width: 800px;
}

button {
  background-color: var(--button);
  border: 3px solid #272343;
  border-radius: 6px;
}

nav {
  display: flex;
  flex-direction: column;
  align-items: center;
}

footer {
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
}

.wrapper__main {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.header ul {
  padding: 0;
  margin: 0;
  font-size: 24px;
  width: 100%;
  display: flex;
  align-items: baseline;
  justify-content: space-between;
}

.header ul li {
  list-style: none;
  cursor: pointer;
}

.header ul li:last-of-type:hover {
  text-decoration: underline;
}

.select__game {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.select__game__options {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.select__game__button {
  cursor: pointer;
  display: flex;
  gap: 25px;
  padding: 12px 14px;
  align-items: center;
  text-align: start;
  width: 100%;
}

.select__game__button__title {
  font-size: 24px;
  font-weight: 700;
}

.select__game__button__description {
  margin: 0;
  font-size: 16px;
  font-weight: 700;
}

.select__game__button__emoji {
  font-size: 32px;
}

.game {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.game__image {
  border-radius: 4px;
  border: 2px solid #000000;
  width: 40%;
}

.game__form,
.game__end__form {
  display: flex;
  width: 40%;
  margin-top: 10px;
  margin-bottom: 10px;
}

.game__form__input,
.game__end__form__input {
  width: 100%;
  font-size: 18px;
  padding: 12px;
  border-radius: 4px 0 0 4px;
  border: none;
  background: var(--button);
  outline: none;
  font-weight: 700;
}

.game__form__buttons,
.game__end__form__button {
  cursor: pointer;
  font-size: 18px;
  padding: 8px;
  border-radius: 0 4px 4px 0;
  background-color: var(--headline);
  color: white;
}

.flaglist {
  width: 40%;
  max-height: 15vh;
  overflow-y: scroll;
  background-color: #efefef;
  border-radius: 6px;
  padding: 0;
  margin: 0;
}

.flaglist__item {
  list-style: none;
  display: flex;
  gap: 20px;
  align-items: center;
  padding: 10px;
}

.game__options {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.game__options__regions {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.game__options__regions__button {
  cursor: pointer;
  padding: 4px 12px;
  display: flex;
  align-items: center;
  gap: 12px;
}

.game__options__regions__paragraph {
  font-size: 16px;
  font-weight: 700;
}

.game__options__regions__span {
  font-size: 26px;
}

.game__end {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.game__end__table {
  text-align: center;
  margin: 0;
  padding: 0;
  list-style: none;
  border-collapse: collapse;
}

.game__end__row {
  background: var(--secondary);
}

.game__end__row:nth-of-type(2n) {
  background: var(--tertiary);
}

.game__end__row td {
  vertical-align: middle;

}

.game__end__row td {
  padding: 6px 4px;
}

.game__end__row th {
  padding: 6px 8px;

}

.game__end__item__question {
  font-size: 22px;
  font-weight: 700;
}

.game__end__item__answer {
  font-weight: 700;
  font-size: 20px;
  padding: 0;
  margin: 0;
}

.game__end__item__flagname {
  padding: 0;
  margin: 0;
  padding-top: 0.4rem;
  font-weight: 700;
}

.game__end__item__answer-correct {
  color: #00df00;
}

.game__end__item__answer-incorrect {
  color: #d40000;
  text-decoration: line-through;
}

.game__end__item__image {
  width: 50px;
  text-align: center;
  vertical-align: middle;
}

.game__end__link {
  margin-top: 30px;
  width: 40%;
  display: flex;
  justify-content: space-between;
}

.game__end__link__button {
  padding: 12px 14px;
  font-size: 0.9rem;
  font-weight: 700;
}

.game__end__footer {
  margin-top: 20px;
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.game__end__score {
  font-size: 26px;
  font-weight: 700;
}

.score__game {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.score__game__menu__list {
  padding: 0;
  list-style: none;
  display: flex;
  gap: 10px;
}

.score__game__menu__item {
  background-color: var(--secondary);
  border: 3px solid var(--headline);
  padding: 12px;
  border-radius: 12px;
  cursor: pointer;
}

.score__game__menu__item:hover {
  background-color: var(--tertiary);
}

.score__game__menu__item a {
  font-weight: 700;
  color: var(--headline);
}

.score__game__menu__item-activate {
  background-color: var(--headline);
}

.score__game__menu__item-activate:hover {
  background-color: var(--headline);
}

.score__game__menu__item-activate a {
  color: var(--background);
}


.score__game__list {
  border-radius: 8px;
  border: 2px solid var(--headline);
  padding: 0;
  list-style: none;
  display: flex;
  flex-direction: column;
}

.score__game__item {
  gap: 20px;
  padding: 0px 8px;
  font-weight: 700;
  display: flex;
  justify-content: space-between;
}

.score__game__item:nth-of-type(even) {
  background-color: var(--secondary);
}

.score__game__item:nth-of-type(odd) {
  background-color: var(--tertiary);
}

.score__game__item:last-of-type {
  border-radius: 0 0 8px 8px;

}

.score__game__list__header {
  background-color: var(--buttontext);
}

.score__game__list__header p {
  text-align: center;
  color: #fff;
  font-weight: 700;
}

.score__game__item:nth-of-type(2) {
  background-color: #FFD700;
}

.score__game__item:nth-of-type(3) {
  background-color: rgb(221, 221, 221);
}

.score__game__item:nth-of-type(4) {
  background-color: burlywood;
}